/*PALETA DE COLORES:
fondo: #f1faee 
titulares e información clave: #264653 
para estructura (barras, iconos): #2a9d8f 
precios destacados y resaltados: #e9c46a y #f4a261 */
body{
    background-color: #f2f5f1;
}
header{
    background-color: #6D1615;
    padding:  0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav{
    background-color: #964444;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

header nav a{
    color: #D0B9BA;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease; 
}

header nav a:hover {
    color: #ffffff;
    transform: scale(1.1);  
}

.cabeza{
    display: flex;
    color: blanchedalmond;
    padding: 20px;
}

header img{
    margin-right: 10px;
}

.container{
    justify-content: center;
    display: flex;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 200px;
    gap: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.container img{
    width: 200px;
    height: 200px;
}

.opcion{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 30px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px #b7b4b4;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.opcion:hover{
    transform: scale(1.1);  
}